.custom-carousel .flowbite-carousel-indicators {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
  }
  
  .custom-carousel .flowbite-carousel-indicators button {
    width: 10px;
    height: 10px;
    background-color: #ff0d0d;
    border: 1px solid #ccc;
    border-radius: 50%;
  }
  
  .custom-carousel .flowbite-carousel-indicators button.active {
    background-color: #000;
  }